<div class="col-12 col-lg-6 mx-auto mt-3">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h1>Edit flat</h1>
    <%= link_to "Back to the list", flats_path, class: "btn btn-secondary" %>
  </div>
  <%= render 'form', task: @flat %>
</div>
